/*stylet af Michelle */

.New {
    height: 40px; 
    width: 275px; 
    background: #F9F9F9; 
    border-radius: 15px; 
    filter: drop-shadow(0px 4px 4px #edebeb);
    font-size: 12px; 
    display: flex; 
    justify-content: space-between;
    cursor: pointer;
     
} 



.plus {
    height: 35px; 
    width: 35px; 
    border-radius: 50%; 
    position: relative;
    right: 5px;   
    font-size: 35px;
  
} 