@import "variables.scss";

/*stylet af Michelle */
// style til check button componenten på din forside 

.Btn {
    height: 25px; 
    width: 50px;
    background: $button-orange;
    border: none; 
    border-radius: 25px;
    position: relative;
    right: 15px;  
 }

//  Styling til addTask componenten

.New {
    height: 40px; 
    width: 275px; 
    background: $white; 
    border-radius: 15px; 
    box-shadow: $box-shadow;
    font-size: 12px; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    cursor: pointer;
    color: black; 

    h2 {
      position: inherit;
    }
} 

.plus {
    height: 35px; 
    width: 35px; 
    border-radius: 50%; 
    position: relative;
    right: 5px;   
    font-size: 35px;
} 

// Styling til selve forsiden

.Top { 
    background: rgb(255,222,203);
    height: 50px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;

    h1 {
        font-family: $font-two;
        font-size: 25px;   
        position: relative;
        top: 8px; 
        left:10px;
      }
    }
    
  
    
    .box {
      height: 275px; 
      display: flex;
      align-items: flex-end;

      .Container {
        height: 235px; 
        width: 310px;
        border-radius: 30px; 
        background: $white;
        box-shadow: $box-shadow;
        margin: 10px; 
        display: flex; 
        flex-direction: column; 
        justify-content: space-between;
      }

      
       .opgave_container {
        height: 45px; 
        width: 271px; 
        background: $white;
        border-radius: 15px;
        box-shadow: $box-shadow;
        display: flex; 
        justify-content: space-between;
        align-items: center;
  
        
      }
      .Opgave1{
        position: relative;
        bottom: 15px; 
        left: 10px; 
      }

      
     .Opgave_container2 {
        height: 45px; 
        width: 271px; 
        background: $white;
        border-radius: 15px;
        box-shadow: $box-shadow;
        display: flex; 
        justify-content: space-between;
        align-items: center;
      }

      .Opgave2{
        position: relative;
        bottom: 30px; 
        left: 10px; 
      }
      
    }
    
    .List_container{
      height: 125px; 
      display: flex;
      justify-content: space-around;
      margin-top: 35px; 
    }
    
    .addnew {
      height: 60px;  
      position: relative;
      top: 50px; 
      display: flex;
      justify-content: center;
      
    }


    // Styling af text componenten til newtask siden (props) 

    .Insert_text {
        position: relative;
        left: 10px;
        top: 15px;
    } 


    // styling til addtask button componenten på newtask siden 

    .List_one{
        height: 125px;
        width: 125px; 
        border-radius: 15px;
        box-shadow: $box-shadow;
        background: $white;
        display: flex; 
        flex-direction: column;
        justify-content: space-around;
      }
      
      .List_two {
        height: 125px;
        width: 125px; 
        border-radius: 15px;
        box-shadow: $box-shadow;
        background: $white;
        display: flex; 
        flex-direction: column;
        justify-content: space-around;
      } 
    
      .List_arrow {
       display: flex;
       justify-content: flex-end;
       position: relative;
       right: 15px; 
     
      }

    //   styling til newtask siden 

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .T {
        height: 50px;  
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .tilbage_pil {
        height: 35px;
        width: 35px; 
        background: $white;
        box-shadow: $box-shadow;
        border-radius: 50%;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center; 
        margin-left: 10px; 
        cursor: pointer;
    }
    
    .ny_opgave {
     height: 175px; 
     display: flex; 
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     margin-top: 25px;
    }
    
    .Task_name {
        height: 60px;
        width: 271px;
        background: $white; 
        border-radius: 15px;
        box-shadow: $box-shadow;
        cursor: pointer;
    }
    
    .When {
        height: 60px;
        width: 271px;
        background: $white; 
        border-radius: 15px; 
        box-shadow: $box-shadow;
        cursor: pointer; 
        position: relative; 
        top: 10px; 
    }
    
    .hvem {
        height: 45px;
        width: 150px;
        margin-top: 50px;  
        margin-left: 20px; 
    }
    
    .Pr_container {
        height: 275px;   
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
     
    }
    
    .personer {
        height: 50px;
        width: 271px; 
        display: flex;
        justify-content:space-around;
        align-items: center;
        cursor: pointer;
    }
    
    .Todo_btn {
        height: 35px;
        width: 75px;
        border-radius: 15px;
        border-style: none;
        background-color: $button-blue;
        box-shadow: $box-shadow;
        cursor: pointer;
    }

    // styling til overskriften componenten på forsiden (props) 


    .overskrift {
        h2 {
            position: relative; 
            top: 10px; 
            left: 10px; 
        } 
    }
  

    // styling til personIkon componenten 
    .ikon {
        height: 35px; 
        width: 35px;
        border-radius: 50%;
        background: $white; 
        box-shadow: $box-shadow;
        position: relative;
        right: 10px; 
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // styling til switch knappen 
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        }
        
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: lightgrey;
            transition: 0.4s;
        }
        
        .slider:before {
            position: absolute; 
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px; 
            background: $white; 
            transition: 0.4s;
        }
        
        
        input:checked + .slider {
            background: $button-blue;
            box-shadow: $box-shadow;
        }
        
        input:checked + .slider:before {
            transform: translateX(26px);
        }
        
        .slider.rounded {
            border-radius: 34px;
        }
        
        .slider.rounded:before {
            border-radius: 50%;
        }

   