@charset "UTF-8";
/*  Nadia*/
/* ------- MEDLEMMER SIDE ------- */
/* intro/header */
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Nunito:wght@200&display=swap");
html {
  height: 100vh;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.medlemmertest {
  height: 100vh;
  width: 100%;
}
.medlemmertest .medlemmertest-header {
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 38px;
  text-align: center;
  width: 100%;
  color: #181818;
  margin-top: 20px;
}

/* intro  */
.medlemmertest-text {
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-size: 24px;
  width: 240px;
  margin: 0 auto;
  color: #181818;
}

/* medlemmer liste content(bokse)  */
.input-medlem {
  width: 45vh;
  height: 8vh;
  border-radius: 10vh;
  padding-left: 7vh;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: rgb(153, 153, 153) 1.95px 1.95px 2.6px;
}

.medlem2 {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* profil ikon  */
.icon3 {
  position: relative;
  left: 6vh;
}

/* slet ikon  */
.icon4 {
  position: relative;
  right: 6vh;
  stroke-width: 20px;
}

.icon4:hover {
  color: rgba(123, 194, 209, 0.6);
  cursor: pointer;
}

/* scroll ned ikon */
.scroll-icon {
  color: rgba(123, 194, 209, 0.6);
  text-align: center;
}

.scroll-icon :hover {
  color: #60949e;
}

.scroll-container {
  text-align: center;
}

/* tilføj medlem knap */
.add-container2 {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 250px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  color: #181818;
  background-color: rgba(123, 194, 209, 0.6);
  cursor: pointer;
  box-shadow: rgb(153, 153, 153) 1.95px 1.95px 2.6px;
  /* tilføj plus ikon */
}
.add-container2 .add1-knap {
  margin: 0;
}
.add-container2 .icon5 {
  cursor: pointer;
}

.add1-knap:hover {
  background-color: #fcfcfc;
}

/* ------- SETTINGS SIDE ------- */
.settingsmain {
  padding-top: 5px;
  margin-bottom: 100px !important;
  /* Clear floats after the columns - header content */
  /*settings header content */
  /* vælg tema tekst */
  /* LIGHT/DARK MODE icon */
  /*change background knap*/
}
.settingsmain .settings {
  width: 100%;
  /*intro*/
}
.settingsmain .settings .settings-header {
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 38px;
  text-align: center;
  width: 100%;
  color: #181818;
  margin-top: 20px;
}
.settingsmain .row-settings:after {
  content: "";
  display: table;
  clear: both;
}
.settingsmain .column-settings {
  float: left;
  width: 50%;
  text-align: center;
  /* log ud knap */
}
.settingsmain .column-settings .button-log {
  background-color: rgba(123, 194, 209, 0.6);
  color: #181818;
  padding: 6px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px;
}
.settingsmain .settingboks-container {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* settings info(bokse)  */
}
.settingsmain .settingboks-container .settingboks {
  width: 45vh;
  height: 8vh;
  border-radius: 10vh;
  padding-left: 7vh;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #fcfcfc;
  color: #181818;
  box-shadow: rgb(153, 153, 153) 1.95px 1.95px 2.6px;
}
.settingsmain .settingboks-container .settingboks .settings-btn-text {
  padding-top: 2vh;
}
.settingsmain .theme-text {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-bottom: 8px;
}
.settingsmain .ld-container {
  text-align: center;
}
.settingsmain .ld-container .ld-tekst {
  font-size: 13px;
  font-weight: bold;
}
.settingsmain .ld-container .switch-ld {
  padding: 6px 18px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
.settingsmain .buttonbackgroundcontainer {
  text-align: center;
  justify-content: center;
}
.settingsmain .buttonbackgroundcontainer .buttonbackground {
  background-color: rgba(123, 194, 209, 0.6);
  color: #181818;
  box-shadow: rgb(153, 153, 153) 1.95px 1.95px 2.6px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
  width: 45vh;
  height: 8vh;
  border-radius: 10vh;
  padding-left: 7vh;
  font-size: 14px;
}
.settingsmain .buttonbackgroundcontainer .buttonbackground .btn-knaptekst {
  text-align: left;
  padding-top: 2vh;
  padding-left: 5vh;
}/*# sourceMappingURL=nadia.css.map */