@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Nunito:wght@200&display=swap');

// fonts
$font-one: 'Fuzzy Bubbles', cursive;
$font-two: 'Nunito', sans-serif;

// font colors
$font-color-black: #181818;
$font-color-gray: #555555;
$font-color-white: #f1f1f1;

// background gradient - @mixin
@mixin background {
    background: rgb(255,222,203);
    background-repeat: no-repeat;
    background: linear-gradient(180deg, 
        rgba(255,222,203,0.6954131994594712) 0%, 
        rgba(255,219,199,0.7962535355939251) 45%, 
        rgba(114,230,255,0.1632003143054097) 90%);
// insert this when you want the backround color: @include background; (no "background:....")
}

// box-shadow
$box-shadow: rgb(153, 153, 153) 1.95px 1.95px 2.6px;

// colors
$button-blue: rgba(123, 194, 209, .6);
$button-orange: #FFA876;
$white: #fcfcfc;

// links
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
